# Updated .gitignore file

# All types
*

# Except .gitignore
!.gitignore

# Except cpp, md files
!*.cpp
!*.md

# Except subdirectories
!BOJ
!Goorm
!Introduction-To-Algorithm
!Introduction-To-Algorithm/Chapter**

#####################################

## Cpp default .gitignore file ##

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
